@font-face {
  font-family: 'Afacad Flux';
  src: url('assets/fonts/AfacadFlux-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#root {
  margin: 0 auto 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Afacad Flux', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #242424;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffa116;
  border-radius: 10px;
  border: 3px solid #242424;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8c00;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ffa116 #242424;
}

body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

body:hover::-webkit-scrollbar {
  display: block;
}

html {
  scroll-behavior: smooth;
}

.appbar .appbar_option {
  background-color: #393939;
  padding: 10px;
  color: #eff1f6bf;
  font-family: 'Afacad Flux', sans-serif;
}

.appbar .appbar_option:hover {
  background-color: rgba(57, 57, 57, 0.8)
}

.gender-field-userinfo{
  color: white;
}

.MuiSelect-select{
  -webkit-text-fill-color: #fff !important;
}

.MuiOutlinedInput-root.Mui-disabled {
  border: 1px solid #ffa116;
}

.css-lohd6h-MuiSvgIcon-root-MuiSelect-icon {
  color: #ffa116 !important;
}